<!-- login.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <!-- particles.js container --> 
</head>
<body>
    <div id="particles-js"></div> <!-- stats - count particles --> <div class="count-particles"> <span class="js-count-particles">        <div class="container">
            <h2>Login</h2>
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <a href="{% url 'about' %}" class="btn btn-primary" type="submita" aling="center">ไปหน้า สินค้า</a>
            </form>
        </div></span> 
    


    </div> <!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>



    <script src="{% static 'script1.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>

</body>
</html>
